* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
p {
  color: #555;
}
.header {
  background: radial-gradient(#fff, #fc6a03);
}

/* ------navbar ----- */
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar {
  display: flex; /*d k */
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1; /*d k */
  text-align: right;
}
nav ul {
  display: inline-block; /*d k*/
  list-style: none; /* removes the bullet points */
}
nav ul li {
  display: inline-block; /*makes them lie horizontal next to each other" */
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}

/* ------ first section ----- */
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  max-height: 100%;
  padding: 70px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.header .row {
  margin-top: 70px;
}

/* ------ featured categories ----- */
.categories {
  margin: 70px 0; /* space on top and bottom */
}
.col-3 {
  flex-basis: 30%; /* all the 3 columns will occupy 30% space */
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/* ------ featured products ----- */
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px; /* there will be 80px margin space from the bottom*/
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /*it will be on center from x-axis */
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px); /*it will move by 5px in the y axis */
}

/* ------ testimonial ----- */
.testimonial {
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  font-size: 20px;
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* ------ footer ----- */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 5px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  margin-top: 70px;
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1; /*wiill use all the available space */
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.feather-logo {
  margin-top: 20px;
}
.feather-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
